# 데이터 전처리
* pastic 데이터에 분기와 구(강남구)가 일치하도록 그룹화하여 매출금액,매출건수를 새컬럼으로 만들어서 insert 주중매출데이터(요일 모두 살려서), 주말매출데이터 등 되도록 모든 컬럼을 살리는 방식으로.
* date_new 밑의 '월별_서울시_상관분석서비스~' 데이터폴더와 '플라스틱량~' 폴더 참고하여 데이터전처리 진행.

In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('../../../Downloads/월별서울시상관분석서비스/서울시_우리마을가게_상권분석서비스(신_상권배후지_추정매출)_2021년.csv', sep = ',' , encoding='cp949' )
df

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,시간대_건수~24_매출_건수,남성_매출_건수,여성_매출_건수,연령대_10_매출_건수,연령대_20_매출_건수,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수
0,2021,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,1245854151,39079,...,510,23435,10695,108,1546,3180,6192,11463,11649,58
1,2021,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,121486282,14059,...,244,5502,7926,82,1746,2147,3410,3668,2378,3
2,2021,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,195506473,16153,...,0,8315,6321,52,1033,1660,3516,4791,3583,15
3,2021,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,105816404,2744,...,967,1766,742,30,206,275,406,774,817,16
4,2021,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,30408910,3319,...,8,1158,1843,21,542,547,588,758,545,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192972,2021,4,A,골목상권,2111090,강일동주민센터,CS300016,안경,88725327,1256,...,0,582,674,14,248,218,349,321,106,6
192973,2021,4,A,골목상권,2111090,강일동주민센터,CS300018,의약품,694963337,47842,...,195,23633,22921,394,4369,9490,12931,9250,10120,16
192974,2021,4,A,골목상권,2111090,강일동주민센터,CS300020,서적,147797108,1930,...,0,165,1709,0,55,275,993,551,0,3
192975,2021,4,A,골목상권,2111090,강일동주민센터,CS300021,문구,34937139,4652,...,0,1862,2489,172,449,1082,1767,473,408,3
192976,2021,4,A,골목상권,2111090,강일동주민센터,CS300022,화장품,67343197,251,...,26,0,251,0,0,0,173,52,26,6

In [2]:
df.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'],
      dtype='object')

In [3]:
df.shape

(192977, 80)

In [4]:
df2 = pd.read_csv('../../../Downloads/서울시 상권분석서비스(상권영역).csv', sep = ',' , encoding='cp949' )
df2

,기준_년월_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,형태정보
0,202112,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,NaN
1,202112,A,골목상권,2110427,노원 을지대학교병원,206265,459431,11350,11350611,NaN
2,202112,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,NaN
3,202112,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,NaN
4,202112,A,골목상권,2111017,송파나루역 3번,210222,445516,11710,11710562,NaN
...,...,...,...,...,...,...,...,...,...,...
1666,202112,U,관광특구,1001493,동대문패션타운 관광특구,200974,451975,11140,11140590,NaN
1667,202112,U,관광특구,1001494,종로?청계 관광특구,199768,452273,11110,11110615,NaN
1668,202112,U,관광특구,1001495,잠실 관광특구,210191,446339,11710,11710566,NaN
1669,202112,U,관광특구,1001496,강남 마이스 관광특구,205310,445727,11680,11680580,NaN
1670,202112,U,관광특구,1001491,이태원 관광특구,199503,448326,11170,11170650,NaN

In [5]:
df2['상권_코드'].unique().shape     #상권코드unique 확인

(1671,)

In [6]:
df2 = df2.drop('형태정보', axis = 1)    #형태정보 컬럼 삭제
df2 = df2.drop('기준_년월_코드', axis = 1)    #형태정보 컬럼 삭제

In [7]:
#unnamed:0 나오는걸 없애기위해 index_col = 0, index 지정하는 방법
df3 = pd.read_csv('../../../Downloads/new_code_info_gu.csv', sep = ',' , encoding='cp949' , index_col = 0)  
df3

          Code     시도   시군구
1   1111000000  서울특별시   종로구
2   1114000000  서울특별시    중구
3   1117000000  서울특별시   용산구
4   1120000000  서울특별시   성동구
5   1121500000  서울특별시   광진구
6   1123000000  서울특별시  동대문구
7   1126000000  서울특별시   중랑구
8   1129000000  서울특별시   성북구
9   1130500000  서울특별시   강북구
10  1132000000  서울특별시   도봉구
11  1135000000  서울특별시   노원구
12  1138000000  서울특별시   은평구
13  1141000000  서울특별시  서대문구
14  1144000000  서울특별시   마포구
15  1147000000  서울특별시   양천구
16  1150000000  서울특별시   강서구
17  1153000000  서울특별시   구로구
18  1154500000  서울특별시   금천구
19  1156000000  서울특별시  영등포구
20  1159000000  서울특별시   동작구
21  1162000000  서울특별시   관악구
22  1165000000  서울특별시   서초구
23  1168000000  서울특별시   강남구
24  1171000000  서울특별시   송파구
25  1174000000  서울특별시   강동구

In [8]:
df3['시군구_코드'] = df3['Code'][:25]/100000     # Code컬럼의 뒤에서 5개 숫자빼고 gu_code로 저장

In [9]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 1 to 25
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Code    25 non-null     int64
 1   시도      25 non-null     object
 2   시군구     25 non-null     object
 3   시군구_코드  25 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 1000.0+ bytes

In [10]:
df3['시군구_코드'] = df3['시군구_코드'].apply(np.int64)    #gu_code의 타입 변경. float->int
df3

          Code     시도   시군구  시군구_코드
1   1111000000  서울특별시   종로구   11110
2   1114000000  서울특별시    중구   11140
3   1117000000  서울특별시   용산구   11170
4   1120000000  서울특별시   성동구   11200
5   1121500000  서울특별시   광진구   11215
6   1123000000  서울특별시  동대문구   11230
7   1126000000  서울특별시   중랑구   11260
8   1129000000  서울특별시   성북구   11290
9   1130500000  서울특별시   강북구   11305
10  1132000000  서울특별시   도봉구   11320
11  1135000000  서울특별시   노원구   11350
12  1138000000  서울특별시   은평구   11380
13  1141000000  서울특별시  서대문구   11410
14  1144000000  서울특별시   마포구   11440
15  1147000000  서울특별시   양천구   11470
16  1150000000  서울특별시   강서구   11500
17  1153000000  서울특별시   구로구   11530
18  1154500000  서울특별시   금천구   11545
19  1156000000  서울특별시  영등포구   11560
20  1159000000  서울특별시   동작구   11590
21  1162000000  서울특별시   관악구   11620
22  1165000000  서울특별시   서초구   11650
23  1168000000  서울특별시   강남구   11680
24  1171000000  서울특별시   송파구   11710
25  1174000000  서울특별시   강동구   11740

In [11]:
df3 = df3.drop('Code', axis =  1)
df3 = df3.drop('시도', axis = 1)    # 시도 컬럼 삭제

In [12]:
#df3.to_excel('../../../Downloads/preprocessing_info_gu.xlsx' , index = False)     # 구코드만 있는컬럼 생성

In [13]:
df3

     시군구  시군구_코드
1    종로구   11110
2     중구   11140
3    용산구   11170
4    성동구   11200
5    광진구   11215
6   동대문구   11230
7    중랑구   11260
8    성북구   11290
9    강북구   11305
10   도봉구   11320
11   노원구   11350
12   은평구   11380
13  서대문구   11410
14   마포구   11440
15   양천구   11470
16   강서구   11500
17   구로구   11530
18   금천구   11545
19  영등포구   11560
20   동작구   11590
21   관악구   11620
22   서초구   11650
23   강남구   11680
24   송파구   11710
25   강동구   11740

In [14]:
gu_merge = df2.merge(df3, left_on = '시군구_코드', right_on = '시군구_코드')
gu_merge

,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,시군구
0,A,골목상권,2110753,시흥동 은행나무사거리,191934,438813,11545,11545710,금천구
1,A,골목상권,2110755,동일여자고등학교,192300,439070,11545,11545680,금천구
2,A,골목상권,2110739,시흥3동 우편취급국,191289,438014,11545,11545690,금천구
3,A,골목상권,2110734,금천파출소,191061,439380,11545,11545670,금천구
4,A,골목상권,2110751,난곡중학교,191810,442086,11545,11545630,금천구
...,...,...,...,...,...,...,...,...,...
1666,R,전통시장,2130268,상도전통시장,195759,444396,11590,11590530,동작구
1667,R,전통시장,2130271,남성역골목시장,197572,442683,11590,11590650,동작구
1668,R,전통시장,2130270,흑석시장,196727,445276,11590,11590605,동작구
1669,R,전통시장,2130269,강남시장(동작구 강남시장),195874,444157,11590,11590530,동작구
1670,R,전통시장,2130272,사당시장,197801,442618,11590,11590650,동작구

In [15]:
#gu_merge.to_excel('../../../Downloads/preprocessing_상권영역.xlsx' , index = False)   # 서울시 상권분석서비스(상권영역).csv에 구컬럼추가

In [16]:
cols_to_use = gu_merge.columns.difference(df.columns)      # df 의 컬럼과 비교했을 때 gu_merge에만 있는 컬럼들
cols_to_use

Index(['시군구', '시군구_코드', '엑스좌표_값', '와이좌표_값', '행정동_코드'], dtype='object')

In [17]:
district_merge = df.merge(gu_merge, left_on = '상권_코드', right_on = '상권_코드', suffixes=('', '_y'))
district_merge

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_60_이상_매출_건수,점포수,상권_구분_코드_y,상권_구분_코드_명_y,상권_코드_명_y,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,시군구
0,2021,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,1245854151,39079,...,11649,58,A,골목상권,이북5도청사,196193,456641,11110,11110560,종로구
1,2021,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,121486282,14059,...,2378,3,A,골목상권,이북5도청사,196193,456641,11110,11110560,종로구
2,2021,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,195506473,16153,...,3583,15,A,골목상권,이북5도청사,196193,456641,11110,11110560,종로구
3,2021,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,105816404,2744,...,817,16,A,골목상권,이북5도청사,196193,456641,11110,11110560,종로구
4,2021,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,30408910,3319,...,545,12,A,골목상권,이북5도청사,196193,456641,11110,11110560,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192972,2021,4,A,골목상권,2111090,강일동주민센터,CS300016,안경,88725327,1256,...,106,6,A,골목상권,강일동주민센터,215356,451741,11740,11740515,강동구
192973,2021,4,A,골목상권,2111090,강일동주민센터,CS300018,의약품,694963337,47842,...,10120,16,A,골목상권,강일동주민센터,215356,451741,11740,11740515,강동구
192974,2021,4,A,골목상권,2111090,강일동주민센터,CS300020,서적,147797108,1930,...,0,3,A,골목상권,강일동주민센터,215356,451741,11740,11740515,강동구
192975,2021,4,A,골목상권,2111090,강일동주민센터,CS300021,문구,34937139,4652,...,408,3,A,골목상권,강일동주민센터,215356,451741,11740,11740515,강동구
192976,2021,4,A,골목상권,2111090,강일동주민센터,CS300022,화장품,67343197,251,...,26,6,A,골목상권,강일동주민센터,215356,451741,11740,11740515,강동구

In [18]:
district_merge.drop(district_merge.filter(regex='_y$').columns, axis=1, inplace=True)   #겹치는 컬럼 삭제

In [19]:
district_merge       #가장 데이터가 많은 상태. 구,분기별로 그룹화하지 않은 상태.

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,시군구
0,2021,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,1245854151,39079,...,3180,6192,11463,11649,58,196193,456641,11110,11110560,종로구
1,2021,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,121486282,14059,...,2147,3410,3668,2378,3,196193,456641,11110,11110560,종로구
2,2021,1,A,골목상권,2110001,이북5도청사,CS100008,분식전문점,195506473,16153,...,1660,3516,4791,3583,15,196193,456641,11110,11110560,종로구
3,2021,1,A,골목상권,2110001,이북5도청사,CS100009,호프-간이주점,105816404,2744,...,275,406,774,817,16,196193,456641,11110,11110560,종로구
4,2021,1,A,골목상권,2110001,이북5도청사,CS100010,커피-음료,30408910,3319,...,547,588,758,545,12,196193,456641,11110,11110560,종로구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192972,2021,4,A,골목상권,2111090,강일동주민센터,CS300016,안경,88725327,1256,...,218,349,321,106,6,215356,451741,11740,11740515,강동구
192973,2021,4,A,골목상권,2111090,강일동주민센터,CS300018,의약품,694963337,47842,...,9490,12931,9250,10120,16,215356,451741,11740,11740515,강동구
192974,2021,4,A,골목상권,2111090,강일동주민센터,CS300020,서적,147797108,1930,...,275,993,551,0,3,215356,451741,11740,11740515,강동구
192975,2021,4,A,골목상권,2111090,강일동주민센터,CS300021,문구,34937139,4652,...,1082,1767,473,408,3,215356,451741,11740,11740515,강동구
192976,2021,4,A,골목상권,2111090,강일동주민센터,CS300022,화장품,67343197,251,...,0,173,52,26,6,215356,451741,11740,11740515,강동구

In [ ]:
col_concat.to_excel('../../../Downloads/merge_상관분석_상권영역/전처리_상관분석서비스_2021.xlsx' )

In [20]:
gdf = district_merge.groupby(['시군구', '기준_분기_코드']).분기당_매출_건수.agg([np.count_nonzero, np.mean, np.sum])
gdf

              count_nonzero          mean        sum
시군구 기준_분기_코드
강남구 1                  2281  50957.551512  116234175
    2                  2296  58491.459059  134296390
    3                  2290  56471.690393  129320171
    4                  2276  57551.171793  130986467
강동구 1                  2010  42347.295025   85118063
...                     ...           ...        ...
중구  4                   888  43219.283784   38378724
중랑구 1                  2299  36283.618530   83416039
    2                  2296  41678.106272   95692932
    3                  2300  42587.190000   97950537
    4                  2265  40405.444150   91518331

[100 rows x 3 columns]

In [21]:
district_merge.head(2)

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,서비스_업종_코드,서비스_업종_코드_명,분기당_매출_금액,분기당_매출_건수,...,연령대_30_매출_건수,연령대_40_매출_건수,연령대_50_매출_건수,연령대_60_이상_매출_건수,점포수,엑스좌표_값,와이좌표_값,시군구_코드,행정동_코드,시군구
0,2021,1,A,골목상권,2110001,이북5도청사,CS100001,한식음식점,1245854151,39079,...,3180,6192,11463,11649,58,196193,456641,11110,11110560,종로구
1,2021,1,A,골목상권,2110001,이북5도청사,CS100005,제과점,121486282,14059,...,2147,3410,3668,2378,3,196193,456641,11110,11110560,종로구

In [22]:
district_merge.columns

Index(['기준_년_코드', '기준_분기_코드', '상권_구분_코드', '상권_구분_코드_명', '상권_코드', '상권_코드_명',
       '서비스_업종_코드', '서비스_업종_코드_명', '분기당_매출_금액', '분기당_매출_건수', '주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',
       '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액', '금요일_매출_금액', '토요일_매출_금액',
       '일요일_매출_금액', '시간대_00~06_매출_금액', '시간대_06~11_매출_금액', '시간대_11~14_매출_금액',
       '시간대_14~17_매출_금액', '시간대_17~21_매출_금액', '시간대_21~24_매출_금액', '남성_매출_금액',
       '여성_매출_금액', '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수', '엑스좌표_값', '와이좌표_값', '시군구_코드',
       '행정동_코드', '시군구'],
      dtype='object')

In [23]:
group = district_merge.groupby(['기준_년_코드', '시군구', '기준_분기_코드'])
group_sum = group['분기당_매출_금액', '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액', 
      '화요일_매출_금액', '수요일_매출_금액', '목요일_매출_금액',  '금요일_매출_금액','토요일_매출_금액', 
      '일요일_매출_금액', '시간대_00~06_매출_금액','시간대_06~11_매출_금액',  '시간대_11~14_매출_금액', 
      '시간대_14~17_매출_금액', '시간대_17~21_매출_금액',  '시간대_21~24_매출_금액', '남성_매출_금액', '여성_매출_금액', 
      '연령대_10_매출_금액', '연령대_20_매출_금액', '연령대_30_매출_금액',
       '연령대_40_매출_금액', '연령대_50_매출_금액', '연령대_60_이상_매출_금액', '주중_매출_건수',
       '주말_매출_건수', '월요일_매출_건수', '화요일_매출_건수', '수요일_매출_건수', '목요일_매출_건수',
       '금요일_매출_건수', '토요일_매출_건수', '일요일_매출_건수', '시간대_건수~06_매출_건수',
       '시간대_건수~11_매출_건수', '시간대_건수~14_매출_건수', '시간대_건수~17_매출_건수',
       '시간대_건수~21_매출_건수', '시간대_건수~24_매출_건수', '남성_매출_건수', '여성_매출_건수',
       '연령대_10_매출_건수', '연령대_20_매출_건수', '연령대_30_매출_건수', '연령대_40_매출_건수',
       '연령대_50_매출_건수', '연령대_60_이상_매출_건수', '점포수'].sum()
group_sum

C:\Users\lenovo\AppData\Local\Temp\ipykernel_6136\1322884270.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  group_sum = group['분기당_매출_금액', '분기당_매출_건수', '주중_매출_금액', '주말_매출_금액', '월요일_매출_금액',

                          분기당_매출_금액  분기당_매출_건수       주중_매출_금액      주말_매출_금액  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         3845283427221  116234175  3009794802335  835488624886
            2         4252502774950  134296390  3320553264853  931949510097
            3         3996331475462  129320171  3106787415817  889544059645
            4         4375687429272  130986467  3424213638093  951473791179
        강동구 1         1853656172906   85118063  1396691033307  456965139599
...                             ...        ...            ...           ...
        중구  4          974379910339   38378724   757194280174  217185630165
        중랑구 1         1651144053213   83416039  1241471669229  409672383984
            2         1827998220283   95692932  1364606937619  463391282664
            3         1824577166090   97950537  1364953715368  459623450722
            4         1858308545519   91518331  1403826363104  454482182415

                         월요일_매출_금액     화요일_매출_금액     수요일_매출_금액     목요일_매출_금액  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         591881818134  634753678684  634860642869  544315619541
            2         650663450728  659376546638  644485670735  648272800774
            3         579203080573  575838758802  624681365285  680385708368
            4         616266639487  649036660805  679126263797  676159142454
        강동구 1         288944129696  283887026274  297330705278  248981675561
...                            ...           ...           ...           ...
        중구  4         139338086178  154977765025  143707178767  154910906937
        중랑구 1         261132003449  255100049419  250751031361  227088876945
            2         288208886827  264771092667  258001945799  257145934108
            3         273212821959  252957012061  259217941979  283967457125
            4         275686845577  285858264724  257729681650  268295674752

                         금요일_매출_금액     토요일_매출_금액  ...  시간대_건수~24_매출_건수  \
기준_년_코드 시군구 기준_분기_코드                              ...
2021    강남구 1         603983043107  520550606502  ...          8222311
            2         717754795978  582074871566  ...         11019858
            3         646678502789  562515579228  ...          9097111
            4         803624931550  585398656235  ...          9785627
        강동구 1         277547496498  286067951437  ...          7961847
...                            ...           ...  ...              ...
        중구  4         164260343267  136405169481  ...          3092325
        중랑구 1         247399708055  247671742364  ...          8689980
            2         296479078218  280392890378  ...         11520153
            3         295598482244  279019099364  ...         10221309
            4         316255896401  275187193076  ...          9560802

                      남성_매출_건수  여성_매출_건수  연령대_10_매출_건수  연령대_20_매출_건수  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         58284292  49268796       1803011      25906815
            2         66566861  57979020       2275808      30856569
            3         64844021  55325719       2534293      29587843
            4         64756854  56299312       2479063      30888047
        강동구 1         45248081  38144279       1098008      15613467
...                        ...       ...           ...           ...
        중구  4         20319149  16567626        505718       8592315
        중랑구 1         45718203  36595093       1620009      15859226
            2         51559914  42941729       2154603      18293198
            3         53256491  43666256       2242075      18722828
            4         49406147  41021732       2053988      16938804

                      연령대_30_매출_건수  연령대_40_매출_건수  연령대_50_매출_건수  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1             29733109      23214843      16646759
            2             34406167      26769588      18845791
            3             32139491      26088408      18798272
            4             32622288      25880296      18183532
        강동구 1             17795743      16833549      16562887
...                            ...           ...           ...
        중구  4              8759147       7107391       6596962
        중랑구 1             16691396      15857848      17671073
            2             19129936      18148409      20162397
            3             19474090      18324317      20827503
            4             17623629      17463820      19614751

                      연령대_60_이상_매출_건수    점포수
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1                10248573  65155
            2                11392153  66604
            3                11021024  65340
            4                11003166  63693
        강동구 1                15488679  58789
...                               ...    ...
        중구  4                 5325383  20981
        중랑구 1                14613682  59139
            2                16613212  61119
            3                17331407  60357
            4                16733012  58678

[100 rows x 49 columns]

In [24]:
group_radius =  group['주중_매출_비율',
       '주말_매출_비율', '월요일_매출_비율', '화요일_매출_비율', '수요일_매출_비율', '목요일_매출_비율',
       '금요일_매출_비율', '토요일_매출_비율', '일요일_매출_비율', '시간대_00~06_매출_비율',
       '시간대_06~11_매출_비율', '시간대_11~14_매출_비율', '시간대_14~17_매출_비율',
       '시간대_17~21_매출_비율', '시간대_21~24_매출_비율', '남성_매출_비율', '여성_매출_비율',
       '연령대_10_매출_비율', '연령대_20_매출_비율', '연령대_30_매출_비율', '연령대_40_매출_비율',
       '연령대_50_매출_비율', '연령대_60_이상_매출_비율'].mean()
group_radius

C:\Users\lenovo\AppData\Local\Temp\ipykernel_6136\2601992880.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  group_radius =  group['주중_매출_비율',

                       주중_매출_비율   주말_매출_비율  월요일_매출_비율  화요일_매출_비율  수요일_매출_비율  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         80.218325  19.876370  15.872863  17.135905  17.255590
            2         80.382404  19.710801  15.613676  16.513066  15.128484
            3         80.326201  19.774236  14.951965  14.911354  15.909607
            4         80.406854  19.678383  14.250000  16.018014  15.899824
        강동구 1         75.417910  24.681592  15.101493  15.659701  16.390547
...                         ...        ...        ...        ...        ...
        중구  4         77.894144  22.191441  14.237613  15.015766  16.750000
        중랑구 1         74.181383  25.921270  15.863854  14.786429  15.789474
            2         74.702526  25.401132  15.263066  14.639808  15.375871
            3         75.104348  24.990435  15.676522  13.536522  14.513043
            4         75.509051  24.585430  14.364238  14.947903  14.471082

                      목요일_매출_비율  금요일_매출_비율  토요일_매출_비율  일요일_매출_비율  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         14.708461  15.424814  13.140728   6.760631
            2         16.115854  17.195993  13.393293   6.354094
            3         17.582969  17.148908  13.197380   6.601747
            4         16.210896  18.239016  13.108084   6.601054
        강동구 1         13.707960  14.751244  15.618905   9.106468
...                         ...        ...        ...        ...
        중구  4         15.342342  16.729730  14.346847   7.878378
        중랑구 1         13.508917  14.407134  16.014789   9.953893
            2         13.886760  15.723868  15.915070   9.517857
            3         15.121739  16.478261  15.421304   9.600870
            4         14.319647  17.581015  15.302428   9.332450

                      시간대_00~06_매출_비율  ...  시간대_17~21_매출_비율  시간대_21~24_매출_비율  \
기준_년_코드 시군구 기준_분기_코드                   ...
2021    강남구 1                1.124068  ...        30.697063         7.750110
            2                1.248693  ...        29.203397         9.277439
            3                0.930131  ...        29.643231         7.409170
            4                2.433216  ...        28.456942         8.373462
        강동구 1                0.955224  ...        33.486567         6.966169
...                               ...  ...              ...              ...
        중구  4                2.257883  ...        29.027027         9.052928
        중랑구 1                1.069161  ...        33.137451         7.083080
            2                1.361063  ...        33.171167         8.555749
            3                1.065652  ...        32.968696         7.183478
            4                2.311700  ...        31.403974         7.274172

                       남성_매출_비율   여성_매출_비율  연령대_10_매출_비율  연령대_20_매출_비율  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         52.599737  47.500219      0.645331     14.253836
            2         51.789634  48.297474      0.676829     14.510017
            3         52.427948  47.673362      0.765066     15.000000
            4         52.177065  47.918717      0.837873     15.148946
        강동구 1         52.873632  47.206965      0.588060     10.617910
...                         ...        ...           ...           ...
        중구  4         53.403153  46.681306      0.921171     15.565315
        중랑구 1         51.588952  48.505002      0.895607     12.380600
            2         51.549216  48.547909      0.947735     12.207317
            3         52.144348  47.945217      1.006087     12.429565
            4         52.331126  47.757174      0.965121     12.300221

                      연령대_30_매출_비율  연령대_40_매출_비율  연령대_50_매출_비율  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1            23.494958     25.959228     21.122753
            2            23.443380     26.540941     20.965157
            3            22.955459     25.257642     20.944105
            4            23.193322     26.293937     20.612917
        강동구 1            17.863184     24.624876     24.848756
...                            ...           ...           ...
        중구  4            19.524775     21.254505     23.065315
        중랑구 1            17.146585     22.281427     26.150065
            2            16.969948     22.921603     26.084930
            3            17.236957     23.237391     25.164783
            4            16.382340     22.687417     25.478146

                      연령대_60_이상_매출_비율
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1               14.750110
            2               14.084495
            3               15.280349
            4               14.134446
        강동구 1               21.677114
...                               ...
        중구  4               19.896396
        중랑구 1               21.355807
            2               21.096254
            3               21.149565
            4               22.423841

[100 rows x 23 columns]

In [25]:
col_concat = pd.concat([group_sum, group_radius ], axis = 1)
col_concat

                       주중_매출_비율   주말_매출_비율  월요일_매출_비율  화요일_매출_비율  수요일_매출_비율  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         80.218325  19.876370  15.872863  17.135905  17.255590
            2         80.382404  19.710801  15.613676  16.513066  15.128484
            3         80.326201  19.774236  14.951965  14.911354  15.909607
            4         80.406854  19.678383  14.250000  16.018014  15.899824
        강동구 1         75.417910  24.681592  15.101493  15.659701  16.390547
...                         ...        ...        ...        ...        ...
        중구  4         77.894144  22.191441  14.237613  15.015766  16.750000
        중랑구 1         74.181383  25.921270  15.863854  14.786429  15.789474
            2         74.702526  25.401132  15.263066  14.639808  15.375871
            3         75.104348  24.990435  15.676522  13.536522  14.513043
            4         75.509051  24.585430  14.364238  14.947903  14.471082

                      목요일_매출_비율  금요일_매출_비율  토요일_매출_비율  일요일_매출_비율  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         14.708461  15.424814  13.140728   6.760631
            2         16.115854  17.195993  13.393293   6.354094
            3         17.582969  17.148908  13.197380   6.601747
            4         16.210896  18.239016  13.108084   6.601054
        강동구 1         13.707960  14.751244  15.618905   9.106468
...                         ...        ...        ...        ...
        중구  4         15.342342  16.729730  14.346847   7.878378
        중랑구 1         13.508917  14.407134  16.014789   9.953893
            2         13.886760  15.723868  15.915070   9.517857
            3         15.121739  16.478261  15.421304   9.600870
            4         14.319647  17.581015  15.302428   9.332450

                      시간대_00~06_매출_비율  ...  시간대_건수~24_매출_건수  남성_매출_건수  \
기준_년_코드 시군구 기준_분기_코드                   ...
2021    강남구 1                1.124068  ...          8222311  58284292
            2                1.248693  ...         11019858  66566861
            3                0.930131  ...          9097111  64844021
            4                2.433216  ...          9785627  64756854
        강동구 1                0.955224  ...          7961847  45248081
...                               ...  ...              ...       ...
        중구  4                2.257883  ...          3092325  20319149
        중랑구 1                1.069161  ...          8689980  45718203
            2                1.361063  ...         11520153  51559914
            3                1.065652  ...         10221309  53256491
            4                2.311700  ...          9560802  49406147

                      여성_매출_건수  연령대_10_매출_건수  연령대_20_매출_건수  연령대_30_매출_건수  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         49268796       1803011      25906815      29733109
            2         57979020       2275808      30856569      34406167
            3         55325719       2534293      29587843      32139491
            4         56299312       2479063      30888047      32622288
        강동구 1         38144279       1098008      15613467      17795743
...                        ...           ...           ...           ...
        중구  4         16567626        505718       8592315       8759147
        중랑구 1         36595093       1620009      15859226      16691396
            2         42941729       2154603      18293198      19129936
            3         43666256       2242075      18722828      19474090
            4         41021732       2053988      16938804      17623629

                      연령대_40_매출_건수  연령대_50_매출_건수  연령대_60_이상_매출_건수    점포수
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1             23214843      16646759         10248573  65155
            2             26769588      18845791         11392153  66604
            3             26088408      18798272         11021024  65340
            4             25880296      18183532         11003166  63693
        강동구 1             16833549      16562887         15488679  58789
...                            ...           ...              ...    ...
        중구  4              7107391       6596962          5325383  20981
        중랑구 1             15857848      17671073         14613682  59139
            2             18148409      20162397         16613212  61119
            3             18324317      20827503         17331407  60357
            4             17463820      19614751         16733012  58678

[100 rows x 72 columns]

In [26]:
col_concat

                       주중_매출_비율   주말_매출_비율  월요일_매출_비율  화요일_매출_비율  수요일_매출_비율  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         80.218325  19.876370  15.872863  17.135905  17.255590
            2         80.382404  19.710801  15.613676  16.513066  15.128484
            3         80.326201  19.774236  14.951965  14.911354  15.909607
            4         80.406854  19.678383  14.250000  16.018014  15.899824
        강동구 1         75.417910  24.681592  15.101493  15.659701  16.390547
...                         ...        ...        ...        ...        ...
        중구  4         77.894144  22.191441  14.237613  15.015766  16.750000
        중랑구 1         74.181383  25.921270  15.863854  14.786429  15.789474
            2         74.702526  25.401132  15.263066  14.639808  15.375871
            3         75.104348  24.990435  15.676522  13.536522  14.513043
            4         75.509051  24.585430  14.364238  14.947903  14.471082

                      목요일_매출_비율  금요일_매출_비율  토요일_매출_비율  일요일_매출_비율  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         14.708461  15.424814  13.140728   6.760631
            2         16.115854  17.195993  13.393293   6.354094
            3         17.582969  17.148908  13.197380   6.601747
            4         16.210896  18.239016  13.108084   6.601054
        강동구 1         13.707960  14.751244  15.618905   9.106468
...                         ...        ...        ...        ...
        중구  4         15.342342  16.729730  14.346847   7.878378
        중랑구 1         13.508917  14.407134  16.014789   9.953893
            2         13.886760  15.723868  15.915070   9.517857
            3         15.121739  16.478261  15.421304   9.600870
            4         14.319647  17.581015  15.302428   9.332450

                      시간대_00~06_매출_비율  ...  시간대_건수~24_매출_건수  남성_매출_건수  \
기준_년_코드 시군구 기준_분기_코드                   ...
2021    강남구 1                1.124068  ...          8222311  58284292
            2                1.248693  ...         11019858  66566861
            3                0.930131  ...          9097111  64844021
            4                2.433216  ...          9785627  64756854
        강동구 1                0.955224  ...          7961847  45248081
...                               ...  ...              ...       ...
        중구  4                2.257883  ...          3092325  20319149
        중랑구 1                1.069161  ...          8689980  45718203
            2                1.361063  ...         11520153  51559914
            3                1.065652  ...         10221309  53256491
            4                2.311700  ...          9560802  49406147

                      여성_매출_건수  연령대_10_매출_건수  연령대_20_매출_건수  연령대_30_매출_건수  \
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1         49268796       1803011      25906815      29733109
            2         57979020       2275808      30856569      34406167
            3         55325719       2534293      29587843      32139491
            4         56299312       2479063      30888047      32622288
        강동구 1         38144279       1098008      15613467      17795743
...                        ...           ...           ...           ...
        중구  4         16567626        505718       8592315       8759147
        중랑구 1         36595093       1620009      15859226      16691396
            2         42941729       2154603      18293198      19129936
            3         43666256       2242075      18722828      19474090
            4         41021732       2053988      16938804      17623629

                      연령대_40_매출_건수  연령대_50_매출_건수  연령대_60_이상_매출_건수    점포수
기준_년_코드 시군구 기준_분기_코드
2021    강남구 1             23214843      16646759         10248573  65155
            2             26769588      18845791         11392153  66604
            3             26088408      18798272         11021024  65340
            4             25880296      18183532         11003166  63693
        강동구 1             16833549      16562887         15488679  58789
...                            ...           ...              ...    ...
        중구  4              7107391       6596962          5325383  20981
        중랑구 1             15857848      17671073         14613682  59139
            2             18148409      20162397         16613212  61119
            3             18324317      20827503         17331407  60357
            4             17463820      19614751         16733012  58678

[100 rows x 72 columns]

In [27]:
#col_concat.to_excel('../../../Downloads/월별서울시상관분석서비스_전처리/preprocessing_상관분석서비스_2021.xlsx' )   
# 서울시_우리마을가게_상권분석서비스(신_상권배후지_추정매출)_2017년.csv에 구, 분기별로 금액,건수 등은 sum, 비율은 mean처리하여 groupby