#### DataFrame.loc

* Access a group of rows and columns by label(s) or a boolean array.

In [2]:
import pandas as pd
df = pd.DataFrame([[172, 76], [168, 55], [180, 80]],
     index=['kim', 'park', 'lee'],
     columns=['height', 'weight'])
df

      height  weight
kim      172      76
park     168      55
lee      180      80

In [3]:
df.loc['park']

height    168
weight     55
Name: park, dtype: int64

In [4]:
df.loc['kim':'park', 'height']

kim     172
park    168
Name: height, dtype: int64

In [6]:
df.loc[[False, False, True]]

     height  weight
lee     180      80